@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

.wrapperInfo{
    display:grid;
    grid-template-columns: 15% 85%;
    margin:100px 20px ;
    background-color: white;
    border-style:solid;
    border-width: 0.5px;
    border-color: #d1d1d1;
    height: auto;
}
.imageInfo{
  display: block;  
  margin: auto;
margin-top: 30px;
}
.leftInfo{
   background-color: white;
   display: block;
   margin: auto 25px ;
   font-family: 'Inter', sans-serif;
   font-size: 20px;
}
.rightInfo{
    background-color:#7768e5;
    border-radius: 10px;
}

.Info{
    text-align: center;
    color: #0E2A46 ;
    margin-top: 0px;
    background-color:#E9E2FF;
    padding: 10%;
    border-radius: 10px;
    font-family: 'Sora', sans-serif;
}
#Subject, #Title, #Description ,#Image{
    padding: 12px;
    width: 955px;
    margin: 10px auto;
    border-radius: 10px;
    border-width: 0.5px;
    border-color: #d1d1d1;
}
.Upload-image{
    display: flex;
    flex-direction: column;
    width:350px;
    height: 200px;
   background: ffffff;
    text-align: center;
    border-radius: 20px;
    border-style:solid;
    border-width: 0.5px;
    border-color: #d1d1d1;
    margin: 20px;
    padding: 20px;
}
.img-view{
   width:100%;
   height: 100%;
   margin:  auto;
   margin-top: 1px;
   border-radius: 20px;
   border:2px dashed #bbb5ff;
   background: #f7f8ff;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.NextInfo{
    background-color: #2FC7A1;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border-width: 0px;
    width: 100px;
    margin-left:900px ;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
    
}

.drag{
    margin-top: 10px;
}



